.sidenav{
    overflow-y: auto !important;
}
.mainDashboard{
    height: calc(100vh - 84px);
    margin-top: 84px; 
}

/* .mainDashboard::-webkit-scrollbar {
  display: none;
} */
 
  .sidenav::-webkit-scrollbar {
    display: none;
  }


@media (min-width: 1024px) {
  .mainDashboard {
    height: calc(100vh - 84px);
    position: fixed;
    margin-top: 84px;
    left: 17%;
    width: 83%;
  }
}
